amqp==5.3.1
asgiref==3.12.1
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
billiard==4.2.4
cbor2==6.1.4
celery==5.6.3
cffi==2.1.1
channels==4.3.2
channels_redis==4.3.0
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
cron-descriptor==1.4.5
cryptography==50.0.1
daphne==4.2.3
Django==6.0.8
django-celery-beat==2.9.0
django-timezone-field==7.2.2
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
hyperlink==21.0.0
idna==3.19
Incremental==24.11.0
inflection==0.5.1
kombu==5.6.2
msgpack==1.2.2
packaging==26.3
pillow==12.3.0
prompt_toolkit==3.0.53
pycparser==3.0
PyJWT==2.14.0
pyOpenSSL==26.4.0
python-crontab==3.4.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.3.post1
PyYAML==6.0.3
redis==8.1.0
service-identity==26.1.0
six==1.17.0
sqlparse==0.6.0
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
ujson==6.0.0
uritemplate==4.2.0
vine==5.1.0
wcwidth==0.8.3
zope.interface==8.6
